@import '../../vars.css';

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
}
.title{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}
.resume{
    font-size: 25px;
    color: var(--color-text);
    background: transparent;
    margin-top: 10px;
    text-decoration: none;
    background: linear-gradient(90deg, #00308F 0%, #0066b2 50%, #3457D5 100%);
    border-radius:30px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.resume:hover{
 background-size: 100% 100%;
}
.menu{
    display: flex;
}
.menuItems{
    display: flex;
    gap: 47px;
    list-style: none;
}
.menuItems a{
    text-decoration: none;
    font-size: 25px;
    color: var(--color-text);
    background:  linear-gradient(90deg, #00308F 0%, #0066b2 50%, #3457D5 100%);
    border: none;
    border-radius: 30px;
    padding: 10px;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.menuItems a:hover{
    background-size: 100% 100%;
}
@media screen and (max-width:830px){
   .navbar{
    flex-direction: column;
    align-items: flex-start;
   } 
   .menu{
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
   }
   .menuBtn{
    display: block;
    cursor: pointer;
   }
   .menuItems{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 10px;
    background: rgb(25, 25, 109);
    background: linear-gradient(0deg, rgba(25,25,109,0.2)0%,rgba(25,25,109,1)100% );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25); 
   }
   .menuOpen{
    display: flex;
    z-index: 1;
   }
}
@media screen and (min-width:830px){
    .menuBtn{
        display: none;
    } 
    .resume{
        margin-top: 0;
    }   
    
}
    