@import './vars.css';

.App{
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;  
    font-family: "outfit",Arial, Helvetica, sans-serif;
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}